@font-face {
  font-family: 'alagard';
  src: url('/assets/alagard.woff2');
}

* {
  font-smooth: never;
}

img {
  max-width: 100%;
}

body {
  font-family: alagard;
  background-color: #000;
  color: #fff
}

.header {
  text-align: center;
}

.fadeinpage {
  animation: fadeIn ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.mainstuff {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.painting {
  background-image: url('/assets/BIGowen.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.aboutme {
  padding-left: 3em;
  padding-top: 5em;
  text-align: left;
}

.icons {
  padding-top: 55%;
  padding-left: 15%;
  display: grid;
  align-content: space-evenly;
  grid-auto-flow: column;
}

.icons a img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  grid-row: 1;
  object-fit: contain;
  max-height: 50%;
}

footer {
  clear: both;
  padding-top: 5em;
}

footer p {
  text-align: center;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
